@font-face {
    font-family: rubik;
    src: url(Rubik-font/Rubik-VariableFont_wght.ttf);
  }

body {
    background-color: #dfdfef;
    font-family: rubik;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    border-bottom: 0.7vh solid black;
    background-color: lightgray;
}

.header-container {
    display: flex;
    justify-content: center;
}

.logo {
    height: 6vh;
    margin-left: 1vh;
    margin-top: 4vh;
}

main {
    margin: 12px;
    margin-top: 20px;
    /* height: 40vh; */
    font-size: 4vh;
}

#question{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

#answer {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    float:left;
    height: 10vh;
    width: 20vw;
    font-size: 4vh;
    border-radius: 10px;
    border: 0.7vh solid black;
    background-color: lightgray;
    margin-left: 3vw;
    margin-right: 3vw;
}

button:hover {
    background-color: gray;
    cursor: pointer;
}

.clicked-button {
    background-color: lightslategray;
}

footer {
    margin-top: 30vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-bar {
    letter-spacing: 0.9vw;
    font-size: 4vh;
    position: absolute;
    bottom: 10vh;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.q-a::before {
    content: "🔵";
}

.q-a:hover:before {
    content: "🟣";
    cursor: pointer;
}

.q-n::before {
    content: "⚫";
}

.q-c::before {
    content: "🟢";
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    main {
        width: 100%;
        margin: 0;
    }
    button {
        width: 85%;  
        margin: 20px;
    }
    #answer {
        display: inline-grid;
        justify-content: none;
        align-items: none;
        width: 100%;
        grid-template-columns: 50vw 50vw;
        margin: 0;
        padding: 0;
    }
  }
